@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for pastel backgrounds */
.bg-pastel-blue {
    background-color: #B3E5FC;
}

.bg-pastel-pink {
    background-color: #FFB6C1;
}

.bg-pastel-yellow {
    background-color: #FDFD96;
}

.bg-pastel-blue:hover, .bg-pastel-pink:hover, .bg-pastel-yellow:hover {
    filter: brightness(1.1);
}
